
/* GLobal reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c202f; /*dark blue background*/
}

/* header style  */
.header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header-logo {
  padding: 10px;
  height: 60px;
  width: 65px;
}

/* navigation style  */
.nav-list {
  display: flex;
  width: 40%;
  padding: 10px;
  justify-content: space-between;
 
}

.nav-list li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #66fcf1;
  font-family: "DM Serif Text", serif;
  cursor: pointer;
  padding-right: 20px;
}

/* nav items hover effect  */
.nav-list li a:hover {
  text-decoration: underline;
  font-weight: 500;
}

/* burger menu for mobile screen  */
.burger-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
 display: none;
 padding: 8px;
margin: 4px;
}

.bar{
  height: 7px;
  width: 32px;
 background-color: #0df5da;
 margin-bottom: 4px;
}


/* hero section styles  */
.hero-container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 50%; */
}




.hero-greeting,
.hero-intro {
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 500;
  width: 90%;
  font-size: 5.5rem;
  align-items: center;
  color: #fffbfb;

}

.hero-name {
  font-family: "Poppins", serif;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  font-size: 5rem;
  color: #66fcf1;
}

/* about section style  */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px;
}

/* my skils heading style  */
.heading {
  color: #fffbfb;
  font-size: 4rem;
  padding: 19px;
  font-family: "DM Serif Text", serif;
 
}


.about-description {
  color: #fffbfb;
  width: 80%;
  letter-spacing: 2px;
  margin-bottom: 9px;
  font-family: "Poppins", serif;
}

.skill-heading {
  font-size: 4rem;
  margin-bottom: 22px;
}

.span {
  color: #66fcf1;
}


/* skill container  */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 1;
  flex-wrap: wrap;
  font-family: "DM Serif Text", serif;
}

.skill-card {
  display: flex;
  width: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  height: 80px;
  margin-bottom: 18px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* skill card hover effect  */
.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 15px rgba(102, 252, 241, 0.2);
}

.logo-container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.logo {
  height: 50px;
}


/* my skills card text  */
.text {
  color: white;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 6px;
  font-family: "DM Serif Text", serif;
}


/* project section style  */
.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.project-card {
  display: flex;
  justify-content: center;
  height: 239px;
  width: 260px;
  background-color: #202833;
  border-radius: 12px;
  transition: transform 0.3s ease;
}


/* hover effect on project cards  */
.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 15px rgba(102, 252, 241, 0.2);
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-wrap: wrap;
  gap: 18px;
  margin: 52px 0px;
}

.title {
  margin-left: 7px;
  color: white;
  margin-bottom: 5px;
}
/* image and text container  */
.project-bg {
  display: flex;
  flex-direction: column;
  height: 140px;
  background-image: url(Project-Screenshot/Apple\ Website-Clone.png);
  background-size: cover;
  background-position: center;
margin-bottom: 8px; 
  justify-content: end;
  border-radius: 18px;
}

.project-overlay {
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  font-size: 0.9rem;
  height: 21px;
  padding: 5px;
  transition-duration: 1s;
  color: whitesmoke;
}

#circle-cursor{
  height: 20px;
  width: 20px;
  border-radius: 50px;
  border: 1px solid whitesmoke;
  box-shadow: 0 1px 6px #0df5da;
 pointer-events: none;
  position: absolute;
  
}


.project-bg:hover {
  .project-overlay {
  
    height: 75px;
    margin-top: 0;
    cursor: pointer;
    margin: 0;
  }
}

/* background image of each card  */
.procect-tic-toe{
  background-image: url(Project-Screenshot/TicTac-Toe\ Game\ \ \(1\).png);
}

.project-travell-planner{
background-image: url(Project-Screenshot/Travell-planner.png);
}

.project-space-game{
  background-image: url(Project-Screenshot/Space-game.png);
}

.project-wish-card{
  background-image: url(Project-Screenshot/Wish-List.png);
}
.project-book-store{
  background-image: url(Project-Screenshot/Book-store.png);
}


/* skill tags  */
.skill-used {
  margin-left: 7px;
  display: inline-block;
  padding: 10px;
  color: black;
  background-color: #66fcf1;
  border-radius: 10px;
  margin: 9px 4px;
  font-size: 0.8rem;
  font-weight: 600;
}

.btn {
  width: 40px;
  height: 90px;
  display: inline;
  margin: 4px 0 0 7px;
  opacity: 0.7;
  color: whitesmoke;
  padding: 2px;
}

.btn img {
  border: 2px solid #0df5da;
  background-color: white;
  padding: px;
  border-radius: 50px;
  /* filter: invert(); */
}

/* footer style  */
.footer-container {
  margin-top: 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-invite {
  font-size: 2.2rem;
}

.cta-btn {
  background-color: #0df5da;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 1.3rem;
  padding: 15px;
  border: 2px solid whitesmoke;
  border-radius: 50px;
  color: black;
  font-weight: 700;
  text-align: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.footer-img {
  height: 70px;
  width: 70px;
}

.name-logo {
  background-color: red;
  display: block;
}

.social-media-icon {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.email-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 22px;
}

.email-container a {
  background-color: #0df5da;
  padding: 8px;
  color: black;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid white;
  text-decoration: none;
}


/* responsive design for tablet  */
@media only screen and (max-width: 1122px ) {

.nav-list{
  flex-direction: column;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  right: 3px;
  top: 41px;
  width: 233px;
  display: none;
}

.nav-list li{
  padding: 12px 0px;
text-align: center;
border-bottom: 1px solid whitesmoke;

}

.burger-menu{
  display: inline;
}
 .hero-greeting,
 .hero-intro,.hero-name {
  font-size: 2.3rem;
 }

 .profile-img{
  width: 350px;
  height: 490px;
  margin: 0;
  padding: 2px;
 }

 .about-container{
  display: flex;
  width: 90%;
  padding: 0;
  margin: 0;
 }

 .footer-invite{
  font-size: 1.8rem
}

.cta-btn{
  padding: 7px;
  font-size: 1.1rem;
}
 


}


/* responsive design for mobile  */
@media only screen and (max-width: 633px ) {
  .hero-greeting,
  .hero-intro,.hero-name {
   font-size: 1.3rem;
  }
 
  .profile-img{
   width: 190px;
   height: 290px;
   margin: 0;
   padding: 2px;
  }

  .heading{
    font-size: 2.5rem;
   }

   .footer-container{
    padding: 10px;
   }

   .cta-btn{
    padding: 3px;
    font-size: 0.8rem;
  }
   


 }


